{{#each this as |item|}}
  {{#each item.lines as |line|}}
    ##
    {{item.group}}
    {{~#if line.title~}}
      ### Title:
      {{line.title}}
    {{/if}}

    {{#if line.comment}}

      ### Question
      {{@index}}:
      {{line.comment}}
    {{/if}}

    {{#if line.code}}
      ### Code: ~~~
      {{{codeBlock line.code}}}
      ~~~ {: .language-python}
    {{/if}}

    <p class='pagebreak'></p>

  {{/each}}

{{/each}}